body {
    margin: 0px;
    text-align: center;
}

.brödtext {
    font-size: 2rem;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100xp;
    text-align: justify;
}

.list {
    margin-left: 20rem
}

img {
    float: left;
    margin: 20px;
}

.title {
    font-size: 3rem;
    margin-top: 10px;
}

.button {
    color: #000000;
    background-color: transparent;
    border-color: transparent;
    padding: auto;
    font-size: 1.5rem;
}

.button:hover {
    background-color: #008000;
}

.headerBehind{
    width: 100vw;
    height: 97.5px;
}

.header {
    width: 100vw;
    height: 97.5px;
    background-color: #00ff00;
    position: fixed;
    top: 0;
    left: 0;
}

.footer {
    width: 100vw;
    height: 50px;
    background-color: #ff00ff;
    position: fixed;
    left: 0;
    bottom: 0;
}